.chat-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
    margin-top: 4rem;
    height: 80%; 
}

.chat-template .title-area {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: grey;
    color: white;
}

.chat-area {
    height: 75%;
    overflow: auto;
}

.chat-area .chat-wrapper {
    padding: 1rem;
}

.chat-template .form-wrapper {
    padding: 1rem;
}